  
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "sentry.prefix" . }}snuba
  labels:
    app: sentry
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-5"
data:
  SNUBA_SETTINGS: docker
  CLICKHOUSE_HOST: clickhouse
  CLICKHOUSE_PORT: "9000"
  REDIS_HOST: {{ .Values.redis.host }}
  {{- if and .Values.redis.password (not .Values.redis.existingPasswordSecret) }}
  REDIS_PASSWORD: {{ .Values.redis.password }}
  {{- end }}
  DEFAULT_BROKERS: 'kafka-confluent:9092'
